/*
    Common
    ################################################################
*/
input[type=text],input[type=email], input[type=password], input.text, input.title, textarea, select {
    text-align: center;
}

*::-webkit-input-placeholder {
    color: #CACACA;
}

*:-moz-placeholder {
    color: #CACACA;
}

*::-moz-placeholder {
    color: #CACACA;
}

*:-ms-input-placeholder {
    color: #CACACA;
}

.text-error {
    color: #F00000;
}

/* ################################################################ */




/*
    Layout
    ################################################################
*/
.main-content {
    text-align: center;
    margin-top: 1.618em;
}

.diamonds {
    margin: 15px 0;
    font-size: 15px;
    line-height: 24px;
}
/* ################################################################ */




/*
    Loader
    ################################################################
*/
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loader-mini {
    margin: 3.7em 0;
}

.loader-message {
    padding: 15px 0;
}


/* ################################################################ */




/*
    Header / Menu
    ################################################################
*/
#header {
    color: #f5f5f5;
    background-color: #3b3b3b;
    font-size: 1.618em;
    letter-spacing: -1px;
    text-transform: lowercase;
    font-weight: bold;
    position: fixed;
    width: 100%;
    display: block;
    z-index: 999;
    top: 0;
}

#header-logo {
    text-align: left;
    white-space: nowrap;
}

#header-menu > li {
    float: right;
    margin-left: 5px;

}

#header-menu > li a {
    display: block;
    padding: 0 7px;
    color: #f5f5f5;
    border: none;
}

#header-menu > li a:hover {
    color: #FF6600;
}

.sub-menu {
    margin: 0;
    display: none;
}

.menu-link-special {
    font-weight: bolder;
}

.notifications-indicator {
    background: #f00;
    padding-right: 10px !important;
}
.notifications-indicator:hover {
    color: #f5f5f5 !important;
    background-color: #FF6600;
}
/* ################################################################ */




/*
    Errors
    ################################################################
*/
.error-wrapper {
    position: absolute;
    top: 50%;
    margin-top: -300px;
    left: 0;
    width: 100%;
}

.error-message {
    font-size: 55px;
    line-height: 74px;
    font-weight: bold;
    letter-spacing: -2px;
}

.error-code {
    font-size: 144px;
    line-height: 189px;
    letter-spacing: -2px;
}
/* ################################################################ */




/*
    Countdown Form
    ################################################################
*/
.form-countdown-type, .form-duration-type, .form-duration  {
    width: 193px !important;
}

.form-endson {
    width: 53px !important;
}
/* ################################################################ */




/*
    Countdown
    ################################################################
*/

.countdowns .countdown {
    padding-bottom: 1.414em;
}

.countdown-pulse {
    -webkit-animation: pulse 1s ease-in-out infinite;
    -moz-animation: pulse 1s ease-in-out infinite;
    -ms-animation: pulse 1s ease-in-out infinite;
    -o-animation: pulse 1s ease-in-out infinite;
    animation: pulse 1s ease-in-out infinite;
}

.avatar-image-container {
    margin: 0.87em 0;
}

.countdown-score {
    margin: 0.53em 0;
}

.countdown-score a {
    border-bottom: none;
    margin: 0 51px;
}

.vote-up:hover {
    color: #339900;
}

.vote-down:hover {
    color: #f00;
}

.voted {
    color: #ff6600;
}

.voted:hover {
    color: #ff6600;
}

@-moz-keyframes pulse {
    0% {
        transform: scale(1);
    }

    9% {
        transform: scale(1.05);
    }

    91% {
        transform: scale(1);
    }
}

@-webkit-keyframes pulse {
    0% {
        transform: scale(1);
    }

    9% {
        transform: scale(1.05);
    }

    91% {
        transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    9% {
        transform: scale(1.05);
    }

    91% {
        transform: scale(1);
    }
}
/* ################################################################ */




/*
    Comments
    ################################################################
*/
.comment {
    padding: 1.414em 0;
    margin: 0 0.5em;
    border-top: 1px dotted #CACACA;
}

.comments {
    margin-bottom: 3.7em;
}

.comment-score {
    font-weight: bold;
}

.comment-score a {
    border-bottom: none;
    margin: 0 31px;
}

.comment-text {
    padding: 17px;
    word-wrap: break-word;
}
/* ################################################################ */




/*
    Pagination
    ################################################################
*/
.pagination {
    border-top: 1px dotted #CACACA;
    border-bottom: 1px dotted #CACACA;
    padding: 0.381em 0;
}

.pagination li {
    display: inline;
    padding: 0 0.381em;
}

.pagination li.active a {
    color: #ff6600 !important;
    border-bottom: none;
}

.pagination li.disabled a {
    border-bottom: none;
}

.pagination-medium {
    font-size: 1.618em;
    margin-bottom: 2.287em;
}
/* ################################################################ */




/*
    Order Controls
    ################################################################
*/
.order-controls {
    margin: 2.287em 0;
}

.order-controls li {
    display: inline;
    padding: 0 0.381em;
}

.order-controls li.active a {
    color: #ff6600 !important;
    border-bottom: none;
}
/* ################################################################ */




/*
    Filter Controls
    ################################################################
*/
.filter-controls {
    margin: 0.618em 0;
}

.filter-controls ul {
    margin-top: 0.23em;
}

.filter-controls li {
    display: inline;
    padding: 0 0.618em;
}
/* ################################################################ */






/*
    Markdown
    ################################################################
*/
.markdown-body h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-size: 1.618em !important;
}
/* ################################################################ */





/* ### Index ### */
#btn-scrollup {
    display: none;
    opacity: 0.3;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#btn-scrollup:hover {
    opacity: 1;
}



#countdown-new {
    margin: 50px 0;
    display: none;
}

#countdown-total {
    margin: 55px 0;
}


#countdown-collection {
    margin: 50px 0;
}

#countdown-date {
    display: none;
}





.auth-message {
    display: none;
}

.comments-sandbox {
    max-width: 700px;
    margin: 0 auto;
    display: none;
}

.lame {
    opacity: 0.7;
    z-index: -999px !important;
}

.unpopular {
    opacity: 0.5;
}

.rubbish {
    opacity: 0.3;
}






/*
    Search
---------------------------------------
*/
.search-query {
    border: none !important;
    color: #3B3B3B;
    position: static;
    display: block;
    width: 100% !important;
    padding: 7px 0 !important;
    top: 0 !important;
    margin: 0 auto !important;
    left: 0 !important;
    right: 0 !important;

    -webkit-appearance:none;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
    font-size: 55px !important;
    letter-spacing: -3px !important;
}

/*
---------------------------------------
*/


/*
---------------------------------------
*/

@media handheld, only screen and (max-width: 1150px) {
    #header {
        text-align: center;
    }

    #header-logo {
        text-align: center;
    }

    #header-menu {
        display: table;
        margin: 0 auto;
        z-index: 9999;
    }

    .main-content {
        padding-top: 37px;
    }
}

@media handheld, only screen and (max-width: 767px) {
    #header-menu > li {
        margin: 0 3px;
    }
}

@media handheld, only screen and (max-width: 650px) {
    input[type=text], input[type=email], input[type=password], textarea, .input, select {
        width: 77% !important;
    }

    .main-content {
        padding-top: 185px;
    }

    #header {
        position: absolute;
    }

    #header-menu {
        display: inline;
    }

    #header-menu > li {
        float: none;
        margin: 0 3px;
    }

    #header-menu > li a {
        display: block;
        padding: 0 5px;
        color: #f5f5f5;
    }
}



@media handheld, only screen and (max-width: 767px) {
    .error-message {
        font-size: 43px;
        line-height: 59px;
    }

    .error-code {
        font-size: 89px;
        line-height: 118px;
    }
}

@media handheld, only screen and (max-width: 500px) {
    .error-message {
        font-size: 34px;
        line-height: 48px;
    }

    .error-code {
        font-size: 70px;
        line-height: 94px;
    }
}